@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #F6F3F3;
}
body {
  font-family: "merriweather";
}
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}
h1 {
  color: #343030;
  font-family: "Merriweather";
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}
h2 {
  color: #343030;
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: regular;
  line-height: 27px;
}
h3 {
  color: #343030;
  font-family: "Merriweather";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
h4 {
  color: #343030;
  font-family: "Merriweather";
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}
h5 {
  color: #343030;
  font-family: "Merriweather";
  font-size: 14px;
  font-weight: regular;
  line-height: 21px;
}
h6 {
  color: #343030;
  font-family: "Merriweather";
  font-size: 14px;
  font-weight: light;
  line-height: 27px;
}
