*{
--primary-color:#E5E5E5;
}
*{
    --common_transition:all .3s ease;
    }
    *{
  
        --common_border_radius:.4rem;
        --common_input_height:2rem;
        --common_input_v_padding:.2rem;
        --common_input_h_padding:.2rem;
        --common_input_line_height:1.2rem;
        --comon_input_fontsize:1.2rem;
        --common_input_border:2px solid gray;
        --common_input_hovered_border:2px solid lightskyblue;
      --common_button_shadows:.1rem .1rem .2rem gray;
            

      --main_width:100vw;
        --accept_color:rgb(29, 193, 144);
        --hovered_color:#776763;
        --disable_color:#C1B4B1;
        --active_color:#5B3A32;
        --default_color:#403432;
        --cancel_color:rgb(117, 115, 115);
        --accept_invert_color:rgb(232, 252, 232);
        --delete_invert_color:rgb(255, 233, 233);
        --default_invert_color:rgb(225, 241, 251);
        --cancel_invert_color:rgb(255, 254, 254);
        --aside-z_index:990;
        --z_index-modal:1000;
        --z_index-header:500;
        --z-index-context:600;
        --z_index-dropdown:600;
        --z_index-message:1100
      }
@media(min-width:960px){
  *{
    --main_width:900px;
   }
}
      @media(min-width:1216px){
        *{
         --main_width:1200px;
        }

      }